html, body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: Peru;
}
.toprow {
	height: 200px;
    background-image: url(../images/woven.png);
   
   
}
.topline{

	border-top: 8px solid Peru; 
}	
.bottowline{
	
	border-bottom: 8px solid Peru; 	
}
.bg {
	
	background: transparent url(../images/bg5.jpg);
	height: 700px;
	margin: auto;

}
.pic{
	position: relative;
	z-index: 999;
	top: 120px;
	
}
.bottomrow{
	height: 200px;
    background-image: url(../images/woven.png);
	margin: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: SaddleBrown;
}
.home-main-content {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

