
html,body{
	 margin: 0;
	 text-align: center;
	 line-height: 1.7;
	 
}
.bg-image1 {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, #70d3ff, #00e4ff, #00f2eb, #00fbb4, #00ff62);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	z-index:-1;
}
.content h1{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 450%;
	 text-shadow: -5px 0px 1px rgba(154, 150, 150, 1);	
	 padding-top: 13%;
}
.btn{
	font-family: Montserrat;
	font-size: 135%;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #3A6168;
	padding: 10px 20px;
	border-radius: 9px;
}
a.btn{
  display: inline;
  padding: 7px 10px 7px 10px;
}
.btn:hover {
	color: #404040;
	border: solid #CBDFD6 2px;
	
}
/*Start of Footer*/
#main-footer{
	padding-right: 50px;
}
ul.socialIcons {
  padding-top: 100px;
  text-align: center;
}

.socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}

.socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 1.28571429em;
  max-width: 1.28571429em;
  height: 1.28571429em;
  white-space: nowrap;
  line-height: 1.5em; 
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
  margin-right: 0.5em;
}

.socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
}

.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}

.socialIcons .github {
  background-color: #2f2f2f;
  box-shadow: 0 0 16px #00aced;
}

.socialIcons .linkedin {
  background-color: #006db3;
  box-shadow: 0 0 16px #cd486b;
}
/*End of footer*/

/*Page Programming*/
.bg-image2{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('../img/bc1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	z-index:-1;
}
.overlay{
	position: absolute; 
    width: 100%; 
    height: 100%; 
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	display: block;
	overflow: auto;
}
.content-p h1{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 450%;
	 padding-top: 5%;
	 text-shadow: 5px 4px grey;
	 opacity:0.6;
	 color: white;
}
.contentp p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 200%;
	opacity:0.7;
	border-style: solid;
	border-radius: 10px;
	margin: 15px 80px 15px;
	padding: 20px;
	margin-top: 75px;
	text-align: left;
	
}

/*Media Queries*/
@media screen and (max-width: 480px) { 
  .btn {
    width: 100%;
  }
  a.btn{
    display: block;
    padding: 0;
  }
  .content-p h1{
	font-size: 350%;
  }
   .contentp p{
	font-size: 150%;
	margin: 5px 20px 5px;
  }
}