@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

#htmlpg1, #bodypg1{
	margin: auto;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, #70d3ff, #00e4ff, #00f2eb, #00fbb4, #00ff62);
	background-repeat: no-repeat;
}
#bodypg2 {
	margin: auto;
	background-image: url('../img/bc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: -10;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
}
.intro .inner{
	display: table-cell;
	vertical-align:middle;
	width: 100%;
	max-width:none;
}
.content{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 15%
}
.content h1{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 400%;
	 font-weight: 100%;
	 line-height: 70%;
}
.content2 h1{
	 font-family: 'Open Sans', sans-serif;
	 color: white;
	 font-size: 450%;
	 position: absolute;
	 right: 0;
	 left: 0;
	 top: 20%;
	 margin: 1px auto;
	 text-align: center;
	 text-decoration: underline;
	 text-shadow: 5px 4px grey;
	 opacity:0.7;

}
.btn{
	font-family: Montserrat;
	font-size: 135%;
	font-weight: 400%;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #3A6168;
	padding: 10px 20px;
	border-radius: 9px;
}

.btn:hover {
	color: #404040;
	border: solid #CBDFD6 2px;
	
}
.bg {
  position: relative; 
  width: 100%; 
  height: auto%;
}
ul.socialIcons {
  padding-top: 100px;
  text-align: center;
}

.socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}

.socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 1.28571429em;
  max-width: 1.28571429em;
  height: 1.28571429em;
  white-space: nowrap;
  line-height: 1.5em; /*it's working only when you write text with icon*/
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
  margin-right: 0.5em;
}

.socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
}

.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}

.socialIcons .github {
  background-color: #2f2f2f;
  box-shadow: 0 0 16px #00aced;
}

.socialIcons .linkedin {
  background-color: #006db3;
  box-shadow: 0 0 16px #cd486b;
}
.responsive {
    max-width: 100%;
    height:auto;
	margin-bottom:-3.75em;
}
.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index:-5;
	
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 320px) {
	
}